* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}


/* GLOBAL SCROLLBAR REMOVAL */

html, body {
  overflow-x: hidden;
}

/* Remove scrollbar but keep scroll functionality */
html {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;               /* Chrome / Safari */
}
