* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'FF Magda Pro Cameo';
  src: url('/fonts/MagdaCameoRegular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
